
.icon-linkedin-circled-1:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-home-1:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-play-circled:before { content: '\e804'; } /* '' */
.icon-pause-circled:before { content: '\e805'; } /* '' */
.icon-list-add:before { content: '\e806'; } /* '' */
.icon-home-outline:before { content: '\e807'; } /* '' */
.icon-search-outline:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-volume-off:before { content: '\e80a'; } /* '' */
.icon-volume-low:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-star-filled:before { content: '\e80d'; } /* '' */
.icon-user-outline:before { content: '\e80e'; } /* '' */
.icon-info-outline:before { content: '\e80f'; } /* '' */
.icon-up-dir:before { content: '\e810'; } /* '' */
.icon-right-outline:before { content: '\e811'; } /* '' */
.icon-folder-add:before { content: '\e812'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-folder-empty:before { content: '\f069'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
